In [1]:

# set up imports
import pandas as pd, numpy as np, seaborn as sns
from tabulate import tabulate
import statsmodels
import arch
import matplotlib
matplotlib.use('qt5agg')

# configure plot style
import matplotlib.pyplot as plt
plt.rcParams['mathtext.fontset'] = 'stix'
plt.rcParams['font.family'] = 'STIXGeneral'
plt.rcParams["figure.figsize"] = (9.5,4.15)
plt.rcParams['figure.constrained_layout.use'] = False
plt.rcParams['figure.dpi'] = 100
plt.rcParams['savefig.dpi'] = 100
plt.rcParams['lines.linewidth'] = 0.8
save_plot_to =  r'C:\\Users\joche\OneDrive\03 TUM - TUM-BWL\Semester 8\01 Bachelorarbeit\04 Results\Plots/'

In [10]:
# read coinmarketcap top 5 cryptos and rename some columns
df_top5 = pd.read_csv('Data/20200916_top5cryptocurrencies.txt', delimiter='\s+', header=0)
df_top5.set_index(df_top5.columns[0], inplace=True)
df_top5.rename(columns={'Tokens_Umlauf':'Token im Umlauf',
                        'Token_max':'max. Anzahl Token'}, inplace=True)
df_top5

,Name,Code,Preis,Marktkapitalisierung,Token im Umlauf,max. Anzahl Token
Nr,,,,,,
1,Bitcoin,BTC,"11,001.79","203,435,004,654","18,491,081","21,000,000"
2,Ethereum,ETH,365.89,"41,209,039,142","112,625,384",-
3,Tether,USDT,1.00,"14,968,418,211","14,948,443,416",-
4,Ripple,XRP,0.244362,"11,006,655,129","45,042,338,912","100,000,000,000"
5,Polkadot,DOT,5.00,"4,265,688,815","852,647,705",-

In [11]:
# plot df_top5 as latex table
print(tabulate(df_top5, headers=df_top5.columns, showindex=True, tablefmt="latex"))

\begin{tabular}{rllllll}
\hline
    & Name     & Code   & Preis     & Marktkapitalisierung   & Token im Umlauf   & max. Anzahl Token   \\
\hline
  1 & Bitcoin  & BTC    & 11,001.79 & 203,435,004,654        & 18,491,081        & 21,000,000          \\
  2 & Ethereum & ETH    & 365.89    & 41,209,039,142         & 112,625,384       & -                   \\
  3 & Tether   & USDT   & 1.00      & 14,968,418,211         & 14,948,443,416    & -                   \\
  4 & Ripple   & XRP    & 0.244362  & 11,006,655,129         & 45,042,338,912    & 100,000,000,000     \\
  5 & Polkadot & DOT    & 5.00      & 4,265,688,815          & 852,647,705       & -                   \\
\hline
\end{tabular}